{% include "potlucks/navbar.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/main.css' %}">
<div class="main">
<h1>This is the event creation page</h1>

<div class="forms">
<form action="{% url 'potlucks:event_enter' %}" method="POST">
{% csrf_token %}

<ul>
    <li><b>Event Name:</b><br>
    <input type="text" name="event_name" required /></li>

    <li><b>Event Public Key:</b>(Optional)<br>
    <input type="text" name="event_key" pattern="[a-zA-Z0-9]" title="Letters and numbers only"/></li>

    <li><b>Start Time:
    <div class="forms-help-key">?</b>
    <div class="forms-help">Enter the start date and time of your event</div></div><br>
    
    <select name="startMonth">
        <option value='1'>January</option>
        <option value='2'>February</option>
        <option value='3'>March</option>
        <option value='4'>April</option>
        <option value='5'>May</option>
        <option value='6'>June</option>
        <option value='7'>July</option>
        <option value='8'>August</option>
        <option value='9'>September</option>
        <option value='10'>October</option>
        <option value='11'>November</option>
        <option value='12'>December</option>
    </select>

    <select name="startDate">
        {% for d in days %}
        <option value="{{ d }}">{{ d }}</option>
        {% endfor %}
    </select>
    <select name="startYear">
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
    </select>
    <select name="startHour">
        {% for h in hours %}
        <option value="{{ h }}">{{ h }}:</option>
        {% endfor %}
    </select>
    <select name="startMinutes">
        <option value="00">00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
    </select>
    <select name="startAm">
        <option value="am">AM</option>
        <option value="pm">PM</option>
    </select></li>

    <li><b>End Time:
    <div class="forms-help-key">?</b>
    <div class="forms-help">Enter the end date and time</div></div><br>
    <select name="endMonth">
        <option value='1'>January</option>
        <option value='2'>February</option>
        <option value='3'>March</option>
        <option value='4'>April</option>
        <option value='5'>May</option>
        <option value='6'>June</option>
        <option value='7'>July</option>
        <option value='8'>August</option>
        <option value='9'>September</option>
        <option value='10'>October</option>
        <option value='11'>November</option>
        <option value='12'>December</option>
    </select>
    
    <select name="endDate">
        {% for d in days %}
        <option value="{{ d }}">{{ d }}</option>
        {% endfor %}
    </select>
    <select name="endYear">
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
    </select>
    <select name="endHour">
        {% for h in hours %}
        <option value="{{ h }}">{{ h }}:</option>
        {% endfor %}
    </select>
    <select name="endMinutes">
        <option value="00">00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
    </select>
    <select name="endAm">
        <option value="am">AM</option>
        <option value="pm">PM</option>
    </select></li>

    <li><b>Address:
    <div class="forms-help-key">?</b>
    <div class="forms-help">Enter the name for your event</div></div><br>
    <input type="text" name="address" /></li>

    <li><b>Apt:
    <div class="forms-help-key">?</b>
    <div class="forms-help">Enter the name for your event</div></div><br>
    <input type="text" name="apt" /></li>

    <li><b>City:
    <div class="forms-help-key">?</b>
    <div class="forms-help">Enter the name for your event</div></div><br>
    <input type="text" name="city" /></li>

    <li><b>State:
    <div class="forms-help-key">?</b>
    <div class="forms-help">Enter the name for your event</div></div><br>
    <input type="text" name="state" /></li>

    <li><b>Zipcode:
    <div class="forms-help-key">?</b>
    <div class="forms-help">Enter the name for your event</div></div><br>
    <input type="text" name="zipcode" /></li>

    <input type="submit" value="Create Event" />
</form>
</div>
</div>
