{% include "potlucks/navbar.html" %}
{% load static %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/main.css' %}">

<style>
  .inner-addon {
    position:relative;
}
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
}
  .right-addon .glyphicon { right: 0px; }
  .left-addon .glyphicon { left: 0px; }

  .left-addon input { padding-left: 30px; }

  [class*="col-sm-12"] {
    padding-bottom:20px;
}
  [class*="col-xs-12"] {
    padding-bottom:0px;
}
</style>

</head>
<body>
<div class="container" style="padding-top: 50px">
<div class="row" style="display:inline-block;">
<div class="col-sm-12 col-xs-12" style="display:inline;">
<h1 style="font-size:48px;">Create Event</h1>
</div>
</div>

<div class="forms">
<form action="{% url 'potlucks:event_enter' %}" method="POST">
{% csrf_token %}
<div class="row">
<ul style="padding-left: 0;">
<div class="col-sm-6" style="display:inline-block;">
    <li><label for="nameInput">Event Name</label><br>
    <input type="text" class="form-control" name="event_name" id="nameInput" required/></li>

    <li><label for="keyInput">Event Key:</label>(Optional)<br>
    <input type="text" name="event_key" id="keyInput" pattern="[a-zA-Z0-9]+" /></li>

    <li><label for="locationInput">Location:</label><br>
    <input type="text" id="locationInput" name="address" title="Numerical address and street" pattern="[A-Za-z0-9,\s]+" required /></li>
    </div>
    <div class="col-sm-6" style="display:inline-block;">
      <li><label for="startDate">Start Date:</label><br>
        <div class="row">
          <div class="col-xs-6 col-lg-4">
          <div class="inner-addon left-addon"><i class="glyphicon glyphicon-calendar"></i>
            <input type="text" name="start_date" id="startDate" style="width:7em" required />
</div>
          </div>
          <div class="col-xs-6 col-sm-4">
          <div class="inner-addon left-addon"><i class="glyphicon glyphicon-dashboard"></i>
            <input type="text" name="start_time" class="timepicker" style="width:6em" id="startTime"/></div>
          </div>
        </div>
      </li>
    
      <li><label for="endDate">End Date:</label><br>
        <div class="row">
          <div class="col-xs-6 col-sm-4">
          <div class="inner-addon left-addon"><i class="glyphicon glyphicon-calendar"></i>
            <input type="text" name="end_date"  id="endDate" style="width:7em" required /></div>
          </div>
          <div class="col-xs-6 col-sm-4">
          <div class="inner-addon left-addon"><i class="glyphicon glyphicon-dashboard"></i>
            <input type="text" name="end_time" class="timepicker" style="width:6em" id="endTime"/></div>
          </div>
        </div>
      </li>
    </div>
</div>
      <div class="row">
      <div class="col-xs-6 col-sm-6">
      <br><li><input type="submit" id="create" value="Create Event" /></li>
      </div>
      </div>
</ul>
</form>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
</body>
<script>
$(document).ready(function()
{
    $("#startDate").datepicker();
    $("#endDate").datepicker();
    $('input.timepicker').timepicker({});
});
</script>
