{% include "potlucks/navbar.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/main.css' %}">
<div class="main">
<h1>This is the event creation page</h1>

<div class="forms">
<form action="{% url 'potlucks:event_enter' %}" method="POST">
{% csrf_token %}

<ul>
    <li><b>Event Name:</b><br>
    <input type="text" name="event_name" required/></li>

    <li><b>Event Key:</b>(Optional)<br>
    <input type="text" name="event_key" pattern="[a-zA-Z0-9]+" /></li>

    <li><b>Start Date:</b><br>
    <input type="text" name="start_date"  id="startDate" required />
    <select name="startHour">
      {% for h in hours %}
        <option value="{{ h }}">{{ h }}</option>
      {% endfor %}
    </select>
    <select name="startMinute">
        <option value="0">:00</option>
        <option value="15">:15</option>
        <option value="30">:30</option>
        <option value="45">:45</option>
    </select>
    <select name="startAm">
      <option value="am">AM</option>
      <option value="pm">PM</option>
    </select>
    </li>
    
    <li><b>End Date:</b><br>
    <input type="text" name="end_date"  id="endDate" required />
    <select name="endHour">
      {% for h in hours %}
        <option value="{{ h }}">{{ h }}</option>
      {% endfor %}
    </select>
    <select name="endMinute">
        <option value="0">:00</option>
        <option value="15">:15</option>
        <option value="30">:30</option>
        <option value="45">:45</option>
    </select>
    <select name="endAm">
      <option value="am">AM</option>
      <option value="pm">PM</option>
    </select>
    </li>

    <li><b>Address:</b><br>
    <input type="text" name="address" title="Numerical address and street" pattern="[0-9]+[A-Za-z0-9\s]+" required /></li>

    <li><b>Apt:</b><br>
    <input type="text" name="apt" /></li>

    <li><b>City:</b><br>
    <input type="text" name="city" title="Letters only" pattern="[A-Za-z\s]+" required /></li>

    <li><b>State:</b><br>
    <input type="text" name="state" title="2 character state code" pattern="[A-Za-z]{2}" required /></li>

    <li><b>Zipcode:</b><br>
    <input type="text" name="zipcode" title="5 digit zipcode" pattern="[0-9]{5}" required /></li>

    <input type="submit" value="Create Event" />
</ul>
</form>
</div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function()
{
    $("#startDate").datepicker();
    $("#endDate").datepicker();
});
</script>
