{% include "potlucks/navbar.html" %}
{% load static %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/main.css' %}">
</head>
<body>
<div class="container" style="padding-top: 70px">
<h1>This is the event creation page</h1>

<div class="forms">
<form action="{% url 'potlucks:event_enter' %}" method="POST">
{% csrf_token %}

<ul>
    <li><b>Event Name:</b><br>
    <input type="text" name="event_name" required/></li>

    <li><b>Event Key:</b>(Optional)<br>
    <input type="text" name="event_key" pattern="[a-zA-Z0-9]+" /></li>

    <li><b>Start Date:</b><br>
    <input type="text" name="start_date"  id="startDate" required />
    <input type="text" name="start_time" class="timepicker" id="startTime"/>
    </li>
    
    <li><b>End Date:</b><br>
    <input type="text" name="end_date"  id="endDate" required />
    <input type="text" name="end_time" class="timepicker" id="endTime"/>
    </li>

    <li><b>Address:</b><br>
    <input type="text" name="address" title="Numerical address and street" pattern="[0-9]+[A-Za-z0-9\s]+" required /></li>

    <li><b>Apt:</b><br>
    <input type="text" name="apt" /></li>

    <li><b>City:</b><br>
    <input type="text" name="city" title="Letters only" pattern="[A-Za-z\s]+" required /></li>

    <li><b>State:</b><br>
    <input type="text" name="state" title="2 character state code" pattern="[A-Za-z]{2}" required /></li>

    <li><b>Zipcode:</b><br>
    <input type="text" name="zipcode" title="5 digit zipcode" pattern="[0-9]{5}" required /></li>

    <input type="submit" value="Create Event" />
</ul>
</form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
</body>
<script>
$(document).ready(function()
{
    $("#startDate").datepicker();
    $("#endDate").datepicker();
    $('input.timepicker').timepicker({});
});
</script>
