{% include "potlucks/navbar.html" %}
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/table-list.css' %}">

<style>
.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
</style>

<div class="container main">
<h1>{{ event.name }}</h1>
{% if request.user != event.host %}
<div class="table-list" >
<table style="border: blue solid 2px;">
<th>Going?</th>
{% if guest_instance.rsvp_status == 2 %}
<th>Dish</th>
{% endif %}
<tr>
<td>{{ guest_instance.get_rsvp_status_display }}</td>
{% if guest_instance.rsvp_status == 2 %}
<td>{{ guest_instance.assignment.dish_type }}</td>
{% endif %}
</tr>
</table>
</div>
{% endif %}
<br>
{% if event.host == request.user %} 
    <form action="{% url 'potlucks:event_cancel' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="event_id" value="{{ event.pk }}" />
    <input type="submit" value="Cancel Event" />
    </form>
{% endif %}

<!--DISPLAY EVENT PARAMETERS HERE-->
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-3">
<h3>Location</h3>
{{ event.location }}
</div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-3">
<h3>Start</h3>
{{ event.start_time }}
</div>
<div class="col-xs-6 col-sm-3">
<h3>End</h3>
{{ event.end_time }}
</div>
</div>
</div>
<br>

<!--TABLE DISPLAY FOR DISH ASSIGNMENT LIST-->
<div class="row">
<div class="col-sm-6">
  <div class="row"><div class="col-sm-2 col-sm-offset-2">
  <h2>Dishes</h2></div></div>
  {% for dish in event.assignment_set.all %}
    <div class="row">
      <div class="col-sm-6 col-xs-12" style="background-color:aquamarine; display:inline-block;">
      <div class="col-xs-5"><h5>{{ dish.dish_type }}</h5></div>
      <div class="col-xs-5"><h5>
        {% if dish.assignment_status %}
          Assigned
        {% else %}
          Unassigned
        {% endif %}</h5>
      </div>
      {% if event.host == request.user %} 
        <div class="col-xs-2" onclick="removeDish('{{ event.pk }}', '{{ dish.pk }}');"><h5><span class="glyphicon glyphicon-remove"/></h5></div>
      {% endif %}
    </div>
    </div>
    <br>
  {% endfor %}
{% if event.host == request.user %} 
  <div class="row">
    <!--<div class="col-sm-6 col-xs-12" style="text-align:center; background-color:aquamarine; display:inline-block;" onclick="addDish('{{ event.pk }}');">-->
    <div class="col-sm-6 col-xs-12" style="text-align:center; background-color:aquamarine; display:inline-block;" data-toggle="modal" data-target="#dishModal" >
      <h5><span class="glyphicon glyphicon-plus"/></h5>
    </form>
    </div>
  </div>
{% endif %}
</div>

<!--TABLE DISPLAY FOR GUEST LIST-->
<div class="col-sm-6">
  <div class="row"><div class="col-sm-2 col-sm-offset-2">
    <h2>Guests</h2>
  </div></div>
{% for guest in event.guest_instance_set.all %}
  <div class="row">
      <div class="col-sm-6 col-xs-12" style="background-color:aquamarine; display:inline-block;">
      <div class="col-xs-6"><h5>
        {% if guest.guest %}
        {% if guest.guest.first_name != '' %}{{ guest.guest.first_name }}
        {% else %}
        {{ guest.guest.username }}{% endif %}
        {% else %}{{ guest.email }}{% endif %}</h5>
      </div>
      <div class="col-xs-6"><h5>
      {{ guest.get_rsvp_status_display }}
      </h5></div>
  </div>
  </div>
<br>
{% endfor %}
{% if event.host == request.user %} 
  <div class="row">
    <!--<div class="col-sm-6 col-xs-12" style="text-align:center; background-color:aquamarine; display:inline-block;" onclick="addGuest('{{ event.pk }}');">-->
    <div class="col-sm-6 col-xs-12" style="text-align:center; background-color:aquamarine; display:inline-block;" data-toggle="modal" data-target="#guestModal">
      <h5><span class="glyphicon glyphicon-plus"/></h5>
    </div>
  </div>
{% endif %}
</div>
</div>
</div>

<!-- Define modal for adding dishes -->
<div id="dishModal" class="modal modal" role="dialog" >
  <div class="vertical-alignment-helper">
  <div class="modal-dialog vertical-align-center">
    <div class="modal-content">
    <div class="modal-header">
      <h3>Add Dish</h3>
    </div>
      <form action="{% url 'potlucks:event_add_dish' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="event_id" value="{{ event.pk }}"/>
        <select name="dish_main" id="dish_main_choice" onchange="updateSubTypes()"/>
        {% for type in dish_types %}
          <option value={{ type.main_type }}:Any> {{ type.main_type }}: Any</option>
          {% for sub_type in type.dish_type_sub_set.all %}
            <option value={{ type.main_type }}:{{ sub_type.sub_type }}>{{ type.main_type }}: {{ sub_type.sub_type }}</option>
          {% endfor %}
        {% endfor %}
        </select>
        <input type="submit" value="Add Dish"/>
      </form>
    <div class="modal-footer">
      <button data-dismiss="modal" style="float:left;">Close</button>
    </div>
    </div>
  </div>
  </div>
</div>

<!-- Define modal for adding guests -->
<div id="guestModal" class="modal" role="dialog" >
  <div class="vertical-alignment-helper">
  <div class="modal-dialog vertical-align-center">
    <div class="modal-content">
    <div class="modal-header">
      <h3>Invite Guest</h3>
    </div>
    <form action="{% url 'potlucks:event_enter_guest' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ event.pk }}" />
        <label for="emailInput">Email:</label>
        <input type="text" name="email" id="emailLabel"/>
        <input type="submit" value="Invite Guest" />
    </form>
    <div class="modal-footer">
      <button data-dismiss="modal" style="float:left;">Close</button>
    </div>
    </div>
  </div>
  </div>
</div>


<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script>
  $(document).ready(function()
  {
    $("#radioGoing").change(function()
    {
      if( $("#radioGoing").is(':checked'))
      {
        $("#submitButton").prop('disabled', true);
      }
    });
    $("#notGoing").change(function()
    {
      if( $("#notGoing").is(':checked'))
      {
        $("#submitButton").prop('disabled', false);
      }
    });
    $(".dishRadio").change(function()
    {
      if( $(".dishRadio").is(':checked'))
      {
        $("#submitButton").prop('disabled', false);
      }
    });
  });

function addGuest( eventId )
{
  var form = document.createElement('form');
  form.setAttribute('method', 'POST');
  form.setAttribute('action', "{% url 'potlucks:event_add_guests' %} ");
  var job = document.createElement('input');
  job.setAttribute('type', 'hidden');
  job.setAttribute('name', 'event_id');
  job.setAttribute('value', eventId);
  var inputToken = document.createElement('input');
  inputToken.setAttribute('type', 'hidden');
  inputToken.name = 'csrfmiddlewaretoken';
  inputToken.value = '{{ csrf_token }}';
  form.appendChild(job);
  form.appendChild(inputToken);
  document.body.appendChild(form);
  form.submit();
}

function addDish( eventId )
{
  var form = document.createElement('form');
  form.setAttribute('method', 'POST');
  form.setAttribute('action', "{% url 'potlucks:event_dishes' %} ");
  var job = document.createElement('input');
  job.setAttribute('type', 'hidden');
  job.setAttribute('name', 'event_id');
  job.setAttribute('value', eventId);
  var inputToken = document.createElement('input');
  inputToken.setAttribute('type', 'hidden');
  inputToken.name = 'csrfmiddlewaretoken';
  inputToken.value = '{{ csrf_token }}';
  form.appendChild(job);
  form.appendChild(inputToken);
  document.body.appendChild(form);
  form.submit();
}

function removeDish( eventId, dishId )
{
  var form = document.createElement('form');
  form.setAttribute('method', 'POST');
  form.setAttribute('action', "{% url 'potlucks:event_remove_dish' %} ");
  var job = document.createElement('input');
  job.setAttribute('type', 'hidden');
  job.setAttribute('name', 'event_id');
  job.setAttribute('value', eventId);
  var dish = document.createElement('input');
  dish.setAttribute('type', 'hidden');
  dish.setAttribute('name', 'dish_id');
  dish.setAttribute('value', dishId);
  var inputToken = document.createElement('input');
  inputToken.setAttribute('type', 'hidden');
  inputToken.name = 'csrfmiddlewaretoken';
  inputToken.value = '{{ csrf_token }}';
  form.appendChild(job);
  form.appendChild(dish);
  form.appendChild(inputToken);
  document.body.appendChild(form);
  form.submit();
}

</script>
