{% include "potlucks/navbar.html" %}
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/table-list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/forms.css' %}">

<style>
.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
.dishButton{
  border: solid green 2px;
  text-align:center;
  vertical-align:middle;
  border-radius:50%;
  color:green;
  padding:4px 4px 4px 4px;
  font-size:24px;
}
.dishP{
  display:none;
}
.dishInfo{
  padding-top:4px;
  font-size:24px;
}
.assign {
    font-size: 20px;
    border-radius: 5px;
    border: solid green 1px;
    background: linear-gradient(lawngreen, green);
    color: white;
    font-weight: bold;
    text-align:center;
}

</style>

<div class="container main">
<h1>{{ event.name }}</h1>
{% if request.user != event.host %}
<div class="table-list" >
<table style="border: blue solid 2px;">
<th>You RSVPd:</th>
{% if guest_instance.rsvp_status == 2 %}
<th>You are bringing:</th>
{% endif %}
<tr>
<td>{{ guest_instance.get_rsvp_status_display }}</td>
{% if guest_instance.rsvp_status == 2 %}
<td>{{ guest_instance.assignment.dish_name }}</td>
{% endif %}
</tr>
</table>
</div>
{% endif %}
<br>
{% if event.host == request.user %} 
    <form action="{% url 'potlucks:event_cancel' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="event_id" value="{{ event.pk }}" />
    <input type="submit" value="Cancel Event" />
    </form>
{% endif %}

<!--DISPLAY EVENT PARAMETERS HERE-->
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12">
<h3>Hosted By</h3>
{{ event.host.first_name }} {{ event.host.last_name }}
</div>
<div class="col-xs-12 col-sm-3">
<h3>Location</h3>
{{ event.location }}
</div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-3">
<h3>Start</h3>
{{ event.start_time }}
</div>
<div class="col-xs-6 col-sm-3">
<h3>End</h3>
{{ event.end_time }}
</div>
</div>
</div>
<br>

<!--TABLE DISPLAY FOR DISH ASSIGNMENT LIST-->
<div class="row">
<div class="col-sm-6">
  <div class="row"><div class="col-sm-2 col-sm-offset-2">
  <h2>Dishes</h2></div></div>
  <br>
  <!-- CREATE ROWS FOR EVERY DISH TYPE (MIGHT REFACTOR LATER) -->
  <!-- APPETIZERS START-->
  <div class="row">
    <div class="col-sm-6 col-xs-12" style="display:block;">
{% if event.host == request.user %}
      <div class="col-xs-2" style="left-border:0px;"><p id="appMinus" class="dishP"><span class="glyphicon glyphicon-minus dishButton"></span></p></div>
{% endif %}
      <div class="col-xs-6"><p class="dishInfo">Appetizers</p></div>
      <div class="col-xs-2"><p class="dishInfo" id="appCount">0</p></div>
{% if event.host == request.user %}
      <div class="col-xs-1"><p id="appPlus" class="dishP"><span class="glyphicon glyphicon-plus dishButton"/></p></div>
{% endif %}
    </div>
  </div>
  <!-- APPETIZERS END-->
  <!-- SOUPS START-->
  <div class="row">
    <div class="col-sm-6 col-xs-12" style="display:block;">
{% if event.host == request.user %}
      <div class="col-xs-2" style="left-border:0px;"><p id="soupMinus"class="dishP"><span class="glyphicon glyphicon-minus dishButton"></p></div>
{% endif %}
      <div class="col-xs-6"><p class="dishInfo">Soups</p></div>
      <div class="col-xs-2"><p class="dishInfo" id="soupCount">0</p></div>
{% if event.host == request.user %}
      <div class="col-xs-1"><p id="soupPlus"class="dishP"><span class="glyphicon glyphicon-plus dishButton"/></p></div>
{% endif %}
    </div>
  </div>
  <!-- SOUPS END-->
  <!-- SALADS START-->
  <div class="row">
    <div class="col-sm-6 col-xs-12" style="display:block;">
{% if event.host == request.user %}
      <div class="col-xs-2" style="left-border:0px;"><p id="saladMinus"class="dishP"><span class="glyphicon glyphicon-minus dishButton"></p></div>
{% endif %}
      <div class="col-xs-6"><p class="dishInfo">Salads</p></div>
      <div class="col-xs-2"><p class="dishInfo" id="saladCount">0</p></div>
{% if event.host == request.user %}
      <div class="col-xs-1"><p id="saladPlus"class="dishP"><span class="glyphicon glyphicon-plus dishButton"/></p></div>
{% endif %}
    </div>
  </div>
  <!-- SALADS END-->
  <!-- ENTREES START-->
  <div class="row">
    <div class="col-sm-6 col-xs-12" style="display:block;">
{% if event.host == request.user %}
      <div class="col-xs-2" style="left-border:0px;"><p id="entreeMinus"class="dishP"><span class="glyphicon glyphicon-minus dishButton"></p></div>
{% endif %}
      <div class="col-xs-6"><p class="dishInfo">Entrees</p></div>
      <div class="col-xs-2"><p class="dishInfo" id="entreeCount">0</p></div>
{% if event.host == request.user %}
      <div class="col-xs-1"><p id="entreePlus"class="dishP"><span class="glyphicon glyphicon-plus dishButton"/></p></div>
{% endif %}
    </div>
  </div>
  <!-- ENTREES END-->
  <!-- DESSERTS START-->
  <div class="row">
    <div class="col-sm-6 col-xs-12" style="display:block;">
{% if event.host == request.user %}
      <div class="col-xs-2" style="left-border:0px;"><p id="dessertMinus"class="dishP"><span class="glyphicon glyphicon-minus dishButton"></p></div>
{% endif %}
      <div class="col-xs-6"><p class="dishInfo">Dessert</p></div>
      <div class="col-xs-2"><p class="dishInfo" id="dessertCount">0</p></div>
{% if event.host == request.user %}
      <div class="col-xs-1"><p id="dessertPlus"class="dishP"><span class="glyphicon glyphicon-plus dishButton"/></p></div>
{% endif %}
    </div>
  </div>
  <!-- DESSERTS END-->
  <!-- BEVERAGES START-->
  <div class="row">
    <div class="col-sm-6 col-xs-12" style="display:block;">
{% if event.host == request.user %}
      <div class="col-xs-2" style="left-border:0px;"><p id="beverageMinus"class="dishP"><span class="glyphicon glyphicon-minus dishButton"></p></div>
{% endif %}
      <div class="col-xs-6"><p class="dishInfo">Beverages</p></div>
      <div class="col-xs-2"><p class="dishInfo" id="beverageCount">0</p></div>
{% if event.host == request.user %}
      <div class="col-xs-1"><p id="beveragePlus"class="dishP"><span class="glyphicon glyphicon-plus dishButton"/></p></div>
{% endif %}
    </div>
  </div>
  <!-- BEVERAGES END-->

{% if event.host == request.user %}
  <div class="row">
    <div class="col-sm-6 col-xs-12 assign" id="assignBtn" style="display:none;" onclick="addDishTallies();">
      Save
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 assign" id="editBtn" onclick="allowEdit();" style="display:inline-block;">
      Edit
    </div>
  </div>
{% endif %}
</div>

<!--TABLE DISPLAY FOR GUEST LIST-->
<div class="col-sm-6">
  <div class="row"><div class="col-sm-2 col-sm-offset-2">
    <h2>Guests</h2>
  </div></div>
{% for guest in event.guest_instance_set.all %}
  <div class="row">
    <div class="col-sm-6 col-xs-12" style="background-color:aquamarine; display:inline-block;">
      <div class="row">
        <div class="col-xs-6"><h5>
        {% if guest.guest %}
          {% if guest.guest.first_name != '' %}{{ guest.guest.first_name }}
          {% else %}
            {{ guest.guest.username }}{% endif %}
        {% else %}{{ guest.email }}{% endif %}</h5>
        </div>
        <div class="col-xs-6"><h5>
        {{ guest.get_rsvp_status_display }}
        </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h5>{{ guest.assignment.dish_type }}</h5>
        </div>
        <div class="col-xs-6">
          <h5>{{ guest.assignment.dish_name }}</h5>
        </div>
      </div>
</div>
</div>
<br>
{% endfor %}
{% if event.host == request.user %} 
  <div class="row" style="display:none;">
    <!--<div class="col-sm-6 col-xs-12" style="text-align:center; background-color:aquamarine; display:inline-block;" onclick="addGuest('{{ event.pk }}');">-->
    <div class="col-sm-6 col-xs-12" style="text-align:center; background-color:aquamarine; display:inline-block;" data-toggle="modal" data-target="#guestModal">
      <h5><span class="glyphicon glyphicon-plus"/></h5>
    </div>
  </div>
{% endif %}
</div>
</div>
</div>

<!-- Define modal for adding dishes -->
<div id="dishModal" class="modal modal" role="dialog" >
  <div class="vertical-alignment-helper">
  <div class="modal-dialog vertical-align-center">
    <div class="modal-content">
    <div class="modal-header">
      <h3>Add Dish</h3>
    </div>
      <form action="{% url 'potlucks:event_add_dish' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="event_id" value="{{ event.pk }}"/>
        <select name="dish_main" id="dish_main_choice" onchange="updateSubTypes()"/>
        {% for type in dish_types %}
          <option value={{ type.main_type }}:Any> {{ type.main_type }}: Any</option>
          {% for sub_type in type.dish_type_sub_set.all %}
            <option value={{ type.main_type }}:{{ sub_type.sub_type }}>{{ type.main_type }}: {{ sub_type.sub_type }}</option>
          {% endfor %}
        {% endfor %}
        </select>
        <input type="submit" value="Add Dish"/>
      </form>
    <div class="modal-footer">
      <button data-dismiss="modal" style="float:left;">Close</button>
    </div>
    </div>
  </div>
  </div>
</div>

<!-- Define modal for adding guests -->
<div id="guestModal" class="modal" role="dialog" >
  <div class="vertical-alignment-helper">
  <div class="modal-dialog vertical-align-center">
    <div class="modal-content">
    <div class="modal-header">
      <h3>Invite Guest</h3>
    </div>
    <form action="{% url 'potlucks:event_enter_guest' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ event.pk }}" />
        <label for="emailInput">Email:</label>
        <input type="text" name="email" id="emailLabel"/>
        <input type="submit" value="Invite Guest" />
    </form>
    <div class="modal-footer">
      <button data-dismiss="modal" style="float:left;">Close</button>
    </div>
    </div>
  </div>
  </div>
</div>


<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script>

  var appetizerCount = '{{ tallies.app_needed }}';
  var appetizerHave = '{{ tallies.app_assigned }}';
  var soupCount = '{{ tallies.soup_needed }}';
  var soupHave = '{{ tallies.soup_assigned }}';
  var saladCount = '{{ tallies.salad_needed }}';
  var saladHave = '{{ tallies.salad_assigned }}';
  var entreeCount = '{{ tallies.entree_needed }}';
  var entreeHave = '{{ tallies.entree_assigned }}';
  var dessertCount = '{{ tallies.dessert_needed }}';
  var dessertHave = '{{ tallies.dessert_assigned }}';
  var beverageCount = '{{ tallies.beverage_needed }}';
  var beverageHave = '{{ tallies.beverage_assigned }}';

  $(document).ready(function()
  {
    $("#radioGoing").change(function()
    {
      if( $("#radioGoing").is(':checked'))
      {
        $("#submitButton").prop('disabled', true);
      }
    });
    $("#notGoing").change(function()
    {
      if( $("#notGoing").is(':checked'))
      {
        $("#submitButton").prop('disabled', false);
      }
    });
    $(".dishRadio").change(function()
    {
      if( $(".dishRadio").is(':checked'))
      {
        $("#submitButton").prop('disabled', false);
      }
    });
    //BLOCK FOR APPETIZERS
    $("#appCount").html(appetizerHave + '/' + appetizerCount);
    $("#appMinus").click(function() {
      if( appetizerCount > 0 )
        appetizerCount--;
      $("#appCount").html(appetizerCount);
    });
    $("#appPlus").click(function() {
      appetizerCount++;
      $("#appCount").html(appetizerCount);
    });
    //END BLOCK FOR APPETIZERS
    //BLOCK FOR SOUPS
    $("#soupCount").html(soupHave + '/' + soupCount);
    $("#soupMinus").click(function() {
      if( soupCount > 0 )
        soupCount--;
      $("#soupCount").html(soupCount);
    });
    $("#soupPlus").click(function() {
      soupCount++;
      $("#soupCount").html(soupCount);
    });
    //END BLOCK FOR SOUPS
    //BLOCK FOR SALADS
    $("#saladCount").html(saladHave + '/' + saladCount);
    $("#saladMinus").click(function() {
      if( saladCount > 0 )
        saladCount--;
      $("#saladCount").html(saladCount);
    });
    $("#saladPlus").click(function() {
      saladCount++;
      $("#saladCount").html(saladCount);
    });
    //END BLOCK FOR SALADS
    //BLOCK FOR ENTREES
    $("#entreeCount").html(entreeHave + '/' + entreeCount);
    $("#entreeMinus").click(function() {
      if( entreeCount > 0 )
        entreeCount--;
      $("#entreeCount").html(entreeCount);
    });
    $("#entreePlus").click(function() {
      entreeCount++;
      $("#entreeCount").html(entreeCount);
    });
    //END BLOCK FOR ENTREES
    //BLOCK FOR DESSERTS
    $("#dessertCount").html(dessertHave + '/' + dessertCount);
    $("#dessertMinus").click(function() {
      if( dessertCount > 0 )
        dessertCount--;
      $("#dessertCount").html(dessertCount);
    });
    $("#dessertPlus").click(function() {
      dessertCount++;
      $("#dessertCount").html(dessertCount);
    });
    //END BLOCK FOR DESSERTS
    //BLOCK FOR BEVERAGES
    $("#beverageCount").html(beverageHave + '/' + beverageCount);
    $("#beverageMinus").click(function() {
      if( beverageCount > 0 )
        beverageCount--;
      $("#beverageCount").html(beverageCount);
    });
    $("#beveragePlus").click(function() {
      beverageCount++;
      $("#beverageCount").html(beverageCount);
    });
    //END BLOCK FOR BEVERAGES
      });

function allowEdit()
{
      $("#appMinus").show();
      $("#appPlus").show();
      $("#soupMinus").show();
      $("#soupPlus").show();
      $("#saladMinus").show();
      $("#saladPlus").show();
      $("#entreeMinus").show();
      $("#entreePlus").show();
      $("#dessertMinus").show();
      $("#dessertPlus").show();
      $("#beverageMinus").show();
      $("#beveragePlus").show();
      $("#assignBtn").show();
      $("#editBtn").hide();
}

function addDishTallies()
{
  var form = document.createElement('form');
  form.setAttribute('method', 'POST');
  form.setAttribute('action', "{% url 'potlucks:event_add_dish_tallies' %} ");
  var eventInput = document.createElement('input');
  eventInput.setAttribute('type', 'hidden');
  eventInput.setAttribute('name', 'event_id');
  eventInput.setAttribute('value', '{{ event.pk }}');
  var appInput = document.createElement('input');
  appInput.setAttribute('type', 'hidden');
  appInput.setAttribute('name', 'app_count');
  appInput.setAttribute('value', appetizerCount);
  var soupInput = document.createElement('input');
  soupInput.setAttribute('type', 'hidden');
  soupInput.setAttribute('name', 'soup_count');
  soupInput.setAttribute('value', soupCount);
  var saladInput = document.createElement('input');
  saladInput.setAttribute('type', 'hidden');
  saladInput.setAttribute('name', 'salad_count');
  saladInput.setAttribute('value', saladCount);
  var entreeInput = document.createElement('input');
  entreeInput.setAttribute('type', 'hidden');
  entreeInput.setAttribute('name', 'entree_count');
  entreeInput.setAttribute('value', entreeCount);
  var dessertInput = document.createElement('input');
  dessertInput.setAttribute('type', 'hidden');
  dessertInput.setAttribute('name', 'dessert_count');
  dessertInput.setAttribute('value', dessertCount);
  var beverageInput = document.createElement('input');
  beverageInput.setAttribute('type', 'hidden');
  beverageInput.setAttribute('name', 'beverage_count');
  beverageInput.setAttribute('value', beverageCount);
  var inputToken = document.createElement('input');
  inputToken.setAttribute('type', 'hidden');
  inputToken.name = 'csrfmiddlewaretoken';
  inputToken.value = '{{ csrf_token }}';
  form.appendChild(eventInput);
  form.appendChild(inputToken);
  form.appendChild(appInput);
  form.appendChild(soupInput);
  form.appendChild(saladInput);
  form.appendChild(entreeInput);
  form.appendChild(dessertInput);
  form.appendChild(beverageInput);
  document.body.appendChild(form);
  form.submit();
}

function addGuest( eventId )
{
  var form = document.createElement('form');
  form.setAttribute('method', 'POST');
  form.setAttribute('action', "{% url 'potlucks:event_add_guests' %} ");
  var job = document.createElement('input');
  job.setAttribute('type', 'hidden');
  job.setAttribute('name', 'event_id');
  job.setAttribute('value', eventId);
  var inputToken = document.createElement('input');
  inputToken.setAttribute('type', 'hidden');
  inputToken.name = 'csrfmiddlewaretoken';
  inputToken.value = '{{ csrf_token }}';
  form.appendChild(job);
  form.appendChild(inputToken);
  document.body.appendChild(form);
  form.submit();
}

function addDish( eventId )
{
  var form = document.createElement('form');
  form.setAttribute('method', 'POST');
  form.setAttribute('action', "{% url 'potlucks:event_dishes' %} ");
  var job = document.createElement('input');
  job.setAttribute('type', 'hidden');
  job.setAttribute('name', 'event_id');
  job.setAttribute('value', eventId);
  var inputToken = document.createElement('input');
  inputToken.setAttribute('type', 'hidden');
  inputToken.name = 'csrfmiddlewaretoken';
  inputToken.value = '{{ csrf_token }}';
  form.appendChild(job);
  form.appendChild(inputToken);
  document.body.appendChild(form);
  form.submit();
}

function removeDish( eventId, dishId )
{
  var form = document.createElement('form');
  form.setAttribute('method', 'POST');
  form.setAttribute('action', "{% url 'potlucks:event_remove_dish' %} ");
  var job = document.createElement('input');
  job.setAttribute('type', 'hidden');
  job.setAttribute('name', 'event_id');
  job.setAttribute('value', eventId);
  var dish = document.createElement('input');
  dish.setAttribute('type', 'hidden');
  dish.setAttribute('name', 'dish_id');
  dish.setAttribute('value', dishId);
  var inputToken = document.createElement('input');
  inputToken.setAttribute('type', 'hidden');
  inputToken.name = 'csrfmiddlewaretoken';
  inputToken.value = '{{ csrf_token }}';
  form.appendChild(job);
  form.appendChild(dish);
  form.appendChild(inputToken);
  document.body.appendChild(form);
  form.submit();
}

</script>
