{% include "potlucks/navbar.html" %}
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href='{% static "potlucks/main.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "potlucks/table-list.css" %}'>

<div class="container-fluid" style="padding-top: 70px;">
<h1>My Events</h1>

<!--Make table for hosted events-->
<div class="row">
<div class="col-sm-6">
<div class="table-list" id="hosted_table">
<h2>Events that I am hosting:</h2>
<table>
<tr><th>Event Name</th><th>Event Start</th><th>Event End</th></tr>
{% for event in event_list %}
    <tr><td>{{ event.name }}</a></td>
        <td>{{ event.start_time }}</td>
        <td><form action="{% url 'potlucks:event_details' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="event_id" value="{{ event.pk }}" />
            <input type="submit" value="Event Details" /></form></td></tr>
{% endfor %}
</table>
</div>
</div>

<!--Make second table for invited events-->
<div class="col-sm-6">
<div class="table-list" id="invited-table">
<h2>Events that I am invited to:</h2>
<table>
<tr><th>Event Name</th><th>Event Start</th><th>Event End</th></tr>
{% for instance in invited_list %}
    <tr><td>{{ instance.event.name }}</a></td>
        <td>{{ instance.event.start_time }}</td>
        <td><form action="{% url 'potlucks:event_details' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="event_id" value="{{ instance.event.pk }}" />
            <input type="submit" value="Event Details" /></form></td></tr>
{% endfor %}
</table>
</div>
</div>
</div>
</div>
