{% include "potlucks/navbar.html" %}
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/main.css' %}">
<div class="container main">
<div class="row">
  <div class="text-center">
<h1>Please enter event credentials</h1>
</div></div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
<!--Check for error message and display-->
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="forms">
<form action='{% url "potlucks:event_find" %}' method='post'>
{% csrf_token %}
<ul>
    <li><b>Event Key:</b><br>
    <input type="text" name="event_key" /></li>
    <li><b>First Name of Host:</b><br>
    <input type="text" name="host_name" /></li>
    <li><input type="submit" value="Login" /></li>
</ul>
</form>
</div>
</div>
</div>
</div>
