{% include "potlucks/navbar.html" %}
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href='{% static "potlucks/main.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "potlucks/table-list.css" %}'>

<div class="container main">
<h1>My Events</h1>

<!--Make table for hosted events-->
<div class="col-sm-6">
  <h2>Events I'm hosting:</h2>
  {% for event in event_list %}
    <div class="row">
      <div class="col-sm-6 col-xs-12" style="background-color:aquamarine; display:inline-block;" style="cursor:pointer !important;" onclick="loadEvent('{{ event.pk }}');">
      <h3>{{ event.name }}</h3>
        <div class="row">
          <div class="col-xs-6"><h5>{{ event.start_time }}</h5></div>
          <div class="col-xs-6"><h5>{{ event.rsvp_count }} Guests Confirmed</h5></div>
        </div>
      </div>
    </div>
  <br>
  {% endfor %}
  <div class="row">
    <div class="col-sm-6 col-xs-12" style="text-align:center; background-color:aquamarine; display:inline-block;">
    <a href="{% url 'potlucks:create_event' %}">
      <h5><span class="glyphicon glyphicon-plus"/></h5>
    </a>
    </form>
    </div>
  </div>
</div>

<!--Make second table for invited events-->
<div class="col-sm-6">
  <h2>Events I'm attending:</h2>
  {% for instance in invited_list %}
  {% if instance.event.is_current %}
  <div class="row">
    <div class="col-sm-6 col-xs-12" style="background-color:palegreen; display:inline-block;" style="cursor:pointer !important;" onclick="loadEvent('{{ instance.event.pk }}');">
      <h3>{{ instance.event.name }}</h3>
      <div class="row">
        <div class="col-xs-6">
          <h5>{{ instance.event.start_time }}</h5>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}
{% endfor %}
</div>

</div>
</div>
</div>
</div>

<script>
function loadEvent( eventId )
{
  var form = document.createElement('form');
  form.setAttribute('method', 'POST');
  form.setAttribute('action', "{% url 'potlucks:event_details' %} ");
  var job = document.createElement('input');
  job.setAttribute('type', 'hidden');
  job.setAttribute('name', 'event_id');
  job.setAttribute('value', eventId);
  var inputToken = document.createElement('input');
  inputToken.setAttribute('type', 'hidden');
  inputToken.name = 'csrfmiddlewaretoken';
  inputToken.value = '{{ csrf_token }}';
  form.appendChild(job);
  form.appendChild(inputToken);
  document.body.appendChild(form);
  form.submit();
}
</script>
