{% include "potlucks/navbar.html" %}
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/table-list.css' %}">

<style>
.bluBtn{ 
  background-color:aquamarine; 
  border:solid darkblue 2px; 
  text-align:center; 
  display:inline-block;  
}
.bluBtn h5{
  font-weight: bold;
}
.bluBtn:hover{ background-color: mediumturquoise; }

.dishInfo{
  padding-top:4px;
  font-size:24px;
}

.dishInfo:hover{ background-color: mediumturquoise; }

.cancel {
    font-size: 20px;
    border-radius: 5px;
    border: solid #F5A623 1px;
    background: linear-gradient(#FAD961, #F67B1C);
    color: white;
    font-weight: bold;
    text-align:center;
    padding: 2px;
}

.assign {
    font-size: 20px;
    border-radius: 5px;
    border: solid green 1px;
    background: linear-gradient(lawngreen, green);
    color: white;
    font-weight: bold;
    text-align:center;
    padding: 2px;
}

</style>

<div class="container" style="padding-top: 70px">
<h1 class="text-center">{{ event.name }}</h1>
<!--
<input type="radio" name="rsvp" value="2" id="radioGoing" />Going</input>
<input type="radio" name="rsvp" value="3" id="notGoing" checked="checked" />Not Going</input>-->
<br>

<!--DISPLAY EVENT PARAMETERS HERE-->
<div class="container">
<div class="row col-sm-offset-2">
<div class="col-xs-12 col-sm-3">
<h3>Location</h3>
{{ event.location }}
</div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-3">
<h3>Start</h3>
{{ event.start_time }}
</div>
<div class="col-xs-6 col-sm-3">
<h3>End</h3>
{{ event.end_time }}
</div>
</div>
</div>

<br>
<div class="row" id="rsvpGoing">
<div class="col-sm-6 col-xs-12 col-sm-offset-3 col-xs-offset-0">
<div class="row" >
  <h3 class="col-sm-2 col-xs-12 col-sm-offset-5">Going?</h3>
</div>
<br>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 cancel" id="rsvpNo" onclick="rsvpActionNo('{{ event.pk }}');">
    No
  </div>
</div>
  <br>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 assign" id="rsvpYes">
    Yes
  </div>
</div>
</div>
</div>
<!--TABLE DISPLAY FOR DISH ASSIGNMENT LIST-->
<!--<div class="row">
<div class="col-sm-6">
<div class="table-list" id="dish_table">
<h2>Please choose a dish to bring</h2>
<table>
    <tr>
    <td><input type="radio" name="dish_id" class="dishRadio" value="{{ dish.pk }}" /></td>
    </tr>
</table>
<input type="submit" id="submitButton" value="Confirm RSVP" />
</form>
</div>
</div>
-->
<!--TABLE DISPLAY FOR DISH ASSIGNMENT LIST-->
<div class="row">
<div class="col-sm-6" id="dishDiv" style="display:none;">
  <div class="row"><div class="col-sm-6 col-sm-offset-9">
  <h3>What are you bringing?</h3></div></div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-xs-8 col-sm-offset-8 col-xs-offset-2 dishInfo" onclick="showDishName('Appetizer');" style="display:block;">
      <div class="col-sm-6 col-xs-8 col-sm-offset-4 col-xs-offset-0"><p>Appetizers</p></div>
      <div class="col-xs-2"><p id="appCount">{{ tallies.app_assigned }}/{{ tallies.app_needed }}</p></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-xs-8 col-sm-offset-8 col-xs-offset-2 dishInfo" onclick="showDishName('Soup');" style="display:block;">
      <div class="col-sm-6 col-xs-8 col-sm-offset-4 col-xs-offset-0"><p>Soups</p></div>
      <div class="col-xs-2"><p>{{ tallies.soup_assigned }}/{{ tallies.soup_needed }}</p></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-xs-8 col-sm-offset-8 col-xs-offset-2 dishInfo" onclick="showDishName('Salad');" style="display:block;">
      <div class="col-sm-6 col-xs-8 col-sm-offset-4 col-xs-offset-0"><p>Salads</p></div>
      <div class="col-xs-2"><p>{{ tallies.salad_assigned }}/{{ tallies.salad_needed }}</p></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-xs-8 col-sm-offset-8 col-xs-offset-2 dishInfo" onclick="showDishName('Entre');" style="display:block;">
      <div class="col-sm-6 col-xs-8 col-sm-offset-4 col-xs-offset-0"><p>Entrees</p></div>
      <div class="col-xs-2"><p>{{ tallies.entree_assigned }}/{{ tallies.entree_needed }}</p></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-xs-8 col-sm-offset-8 col-xs-offset-2 dishInfo" onclick="showDishName('Dessert');" style="display:block;">
      <div class="col-sm-6 col-xs-8 col-sm-offset-4 col-xs-offset-0"><p>Desserts</p></div>
      <div class="col-xs-2"><p>{{ tallies.dessert_assigned }}/{{ tallies.dessert_needed }}</p></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-xs-8 col-sm-offset-8 col-xs-offset-2 dishInfo" onclick="showDishName('Beverage');" style="display:block;">
      <div class="col-sm-6 col-xs-8 col-sm-offset-4 col-xs-offset-0"><p>Beverages</p></div>
      <div class="col-xs-2"><p>{{ tallies.beverage_assigned }}/{{ tallies.beverage_needed }}</p></div>
    </div>
  </div>


    <br>
  </div>
</div>
</div>


<div class="row">
<div class="col-sm-6 col-xs-12 col-sm-offset-4 col-xs-offset-0" id="dishField" style="display:none;">
  <div class="row"><div class="col-sm-6 col-sm-offset-2">
  <h3 id="dishName"></h3></div></div>
  <form method="POST" action="{% url 'potlucks:event_rsvp_action' %}">
  {% csrf_token %}
  <input type="hidden" name="rsvp" value="2"/>
  <input type="hidden" name="event_id" value="{{ event.pk }}"/>
  <input type="hidden" name="dish_type"/>
  <div class="row">
    <input class="col-sm-4 col-xs-8 col-sm-offset-2 col-xs-offset-2" type="text" name="dish_name" placeholder="Enter dish name" id="dishText"/>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4 col-xs-8 col-sm-offset-2 col-xs-offset-2 assign" id="dishNext">NEXT</div></div>
  <div class="row">
    <div class="col-sm-4 col-xs-8 col-sm-offset-2 col-xs-offset-2" id="dishTaken">Dish Available</div></div>
  <div class="row">
    <input class="col-sm-4 col-xs-8 col-sm-offset-2 col-xs-offset-2 assign" id="dishSubmit" type="submit" value="SUBMIT" style="display:none;" disabled/>
  </div>
  </form>
</div>
</div>

<!--TABLE DISPLAY FOR GUEST LIST-->
<div class="col-sm-6">
<div class="table-list" id="guest_table" style="display: none;">
<h2>This is the guest list</h2>
<table>
<tr><th>Guest</th><th>Going?</th></tr>
{% for guest in event.guest_instance_set.all %}
    <tr>
    <td>{% if guest.guest %}
        {% if guest.guest.first_name != '' %}{{ guest.guest.first_name }}
        {% else %}
        {{ guest.guest.username }}{% endif %}
        {% else %}{{ guest.email }}{% endif %}</td>
    <td>{{ guest.get_rsvp_status_display }}</td>
    </tr>
{% endfor %}
</table>
</div>
</div>
</div>
</div>
</div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script>

  var appetizerCount = {{ tallies.app_needed }};
  var appetizerHave = {{ tallies.app_assigned }};

  $(document).ready(function()
  {
    $("#radioGoing").change(function()
    {
      if( $("#radioGoing").is(':checked'))
      {
        $("#submitButton").prop('disabled', true);
      }
    });
    $("#notGoing").change(function()
    {
      if( $("#notGoing").is(':checked'))
      {
        $("#submitButton").prop('disabled', false);
      }
    });
    $(".dishRadio").change(function()
    {
      if( $(".dishRadio").is(':checked'))
      {
        $("#submitButton").prop('disabled', false);
      }
    });

    $("#rsvpYes").click(function(){
      $("#rsvpNo").hide();
      $("#rsvpYes").hide();
      $("#rsvpGoing").hide();
      $("#dishDiv").show();
    });
    $("#appCount").html( appetizerHave + '/' + appetizerCount );

    $("#dishNext").click(function(){
      var dish = $("#dishText").val().trim();
      if(dish.length >= 0)
      {
      $("#dishTaken").show();
            
      $.ajax(
      {
        url: '/ajax/validate_dish',
        data: 
        {
          'eventpk': {{ event.pk }},
          'dish': dish
        },
        datatype: 'json',
        success: function(data)
        {
          if(data.in_use)
          {
            $("#dishTaken").html("<b>Somebody is already bringing that. You may want to bring something else.</b>").css("color", "red");       
            //$("input[type=submit]").prop("disabled", true);  
          }
          else
          {
            $("#dishTaken").html("<b>Awesome! Nobody is bringing that yet.</b>").css("color", "green");     
            //$("input[type=submit]").removeAttr("disabled");  
          }
        }
      });
      $("#dishSubmit").show();
    }
    });
  });

function rsvpActionNo( eventId ){
  var form = document.createElement('form');
  form.setAttribute('method', 'POST');
  form.setAttribute('action', "{% url 'potlucks:event_rsvp_action' %} ");
  var event_id = document.createElement('input');
  event_id.setAttribute('type', 'hidden');
  event_id.setAttribute('name', 'event_id');
  event_id.setAttribute('value', eventId);
  var rsvp_choice = document.createElement('input');
  rsvp_choice.setAttribute('type', 'hidden');
  rsvp_choice.setAttribute('name', 'rsvp');
  rsvp_choice.setAttribute('value', "3");
  var inputToken = document.createElement('input');
  inputToken.setAttribute('type', 'hidden');
  inputToken.name = 'csrfmiddlewaretoken';
  inputToken.value = '{{ csrf_token }}';
  form.appendChild(event_id);
  form.appendChild(rsvp_choice);
  form.appendChild(inputToken);
  document.body.appendChild(form);
  form.submit();
}

function rsvpActionYes( eventId, dishId ){
  var form = document.createElement('form');
  form.setAttribute('method', 'POST');
  form.setAttribute('action', "{% url 'potlucks:event_rsvp_action' %} ");
  var event_id = document.createElement('input');
  event_id.setAttribute('type', 'hidden');
  event_id.setAttribute('name', 'event_id');
  event_id.setAttribute('value', eventId);
  var rsvp_choice = document.createElement('input');
  rsvp_choice.setAttribute('type', 'hidden');
  rsvp_choice.setAttribute('name', 'rsvp');
  rsvp_choice.setAttribute('value', "2");
  var dish_id = document.createElement('input');
  dish_id.setAttribute('type', 'hidden');
  dish_id.setAttribute('name', 'dish_id');
  dish_id.setAttribute('value', dishId);
  var inputToken = document.createElement('input');
  inputToken.setAttribute('type', 'hidden');
  inputToken.name = 'csrfmiddlewaretoken';
  inputToken.value = '{{ csrf_token }}';
  form.appendChild(event_id);
  form.appendChild(rsvp_choice);
  form.appendChild(dish_id);
  form.appendChild(inputToken);
  document.body.appendChild(form);
  form.submit();
}

function showDishName( dish )
{
  $("#dishField").show();
  $("#dishName").html("What is your " + dish + "?");
  $("#dishDiv").hide();
  $('input[name="dish_type"]').val(dish);
}
</script>

