{% include "potlucks/navbar.html" %}
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'potlucks/forms.css' %}">
<div class="container" style="padding-top: 70px;">
<h1>Login</h1>
<h3><a href="{% url 'potlucks:user_register' %}">New User? Register here!</a></h3>
<!--Check for error message and display-->
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="forms">
<form action='{% url "potlucks:user_auth" %}' method='post'>
{% csrf_token %}
<ul>
    <li><b>Username:</b><br>
    <input type="text" name="username" /></li>
    <li><b>Password:</b><br>
    <input type="password" name="password" /></li>
    <li><input type="submit" value="Login" /></li>
</ul>
</form>
</div>
</div>
