.forms {
    width: 80%;
    text-indent: 0px;
}

.forms ul {
    text-decoration: none;
    list-style-type: none;
}

.forms li {
    padding-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
}

.forms input {
    width: 14em;
    font-size: 20px;
    border-radius: 5px;
    border: solid green 1px;
}

.forms input[type=submit] {
    background: linear-gradient(lawngreen, green);
    color: white;
    font-weight: bold;
}

.forms-input {
    display: inline;
}

.forms-help {
    position: relative;
    display: none; 
    width: 14em;
    margin-top: 5px;
    margin-left: 10px;
}

.forms-help-key:hover .forms-help {display: block;}
