.forms {
    width: 80%;
    position: relative;
    float: left;
    text-indent: 0px;
}

.forms ul {
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    text-decoration: none;
    list-style-type: none;
}

.forms li {
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
}


.forms-input {
    display: inline;
}

.forms-help {
    position: relative;
    display: none; 
    float: right;
    margin-top: 5px;
    margin-left: 10px;
}

.forms-help-key:hover .forms-help {display: block;}
