.mobile-bar
{
    position: top;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    background-color: grey;
    color: white;
}    

.mobile-bar .mobile-bar-item
{
    text-align: center;
    width: auto;
    float: left;
    padding: 0px 16px;
    border: none;
    outline: 0;
    font-size: 48!important;
    text-decoration: none;
    background-color: inherit;
    color: inherit;
}

.mobile ul {
    text-decoration: none;
    list-style-type: none;
}

.mobile li
{
    padding-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
}
